# Flutter/Dart/Pub related
pubspec.lock
.dart_tool/
.idea/

#macOS related
.DS_Store

**/pubspec_overrides.yaml

**/generated_plugin_registrant.cc
**/generated_plugin_registrant.h
**/generated_plugins.cmake
**/GeneratedPluginRegistrant.swift